<p *ngIf="updateTime" class="update-time">最后更新时间: {{ updateTime | date: 'HH:mm:ss' }}</p>
<table mat-table [dataSource]="data" class="change-money">
  <!-- display_name Column -->
  <ng-container matColumnDef="display_name">
    <th mat-header-cell *matHeaderCellDef>股票</th>
    <td mat-cell *matCellDef="let element">{{ element.display_name }}</td>
  </ng-container>

  <!-- money Column -->
  <ng-container matColumnDef="money">
    <th mat-header-cell *matHeaderCellDef>金额(万元)</th>
    <td mat-cell *matCellDef="let element">
      {{ element.money | currency: '￥' }}
    </td>
  </ng-container>

  <!-- increase Column -->
  <ng-container matColumnDef="increase">
    <th mat-header-cell *matHeaderCellDef>期间涨跌幅</th>
    <td mat-cell *matCellDef="let element">
      {{ element.increase | percent: '1.4' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{ up: row.increase > 0, down: row.increase < 0 }"
  ></tr>
</table>
