#index {
  width: 90%;
  height: 500px;
  margin: 0 auto;
}

.tool-bar {
  text-align: center;
  .reset {
    margin-right: 10px;
  }
}

.today-color {
  color: red;
}

.yestoday-color {
  color: blue;
}
